@tailwind base;
@tailwind components;
@tailwind utilities;

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .hero {
    text-align: center;
  }
  
  .hero h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
  }
  
  .hero p {
    font-size: 1.2em;
    color: #888;
    margin-bottom: 20px;
  }

  .product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .product-item {
    width: 300px;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .product-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .product-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .product-details {
    margin-top: 15px;
  }
  
  .product-name {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  .product-description {
    margin-bottom: 15px;
    color: #666;
  }
  
  button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 12px 24px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3;
  }